body {
  /* overflow-x: hidden; */
  text-align: center;
}

.section1 {
  width: 100vw;
  min-width: 100%;
  height: 950px;
  position:fixed;
  top: 0;
  z-index: -9;
  text-align-last: center;
  /* display: flex; */
  /* overflow: hidden; */
  background-color: #f8f4e9;
}

.section2 {
  width: 100vw;
  max-width: 100%;
  height: 500px;
  /* position: relative; */
  top: calc(850px * 1);
  position:fixed;
  /* top: 0; */
  z-index: 99;
  display: flex;
  /* overflow: hidden; */
  background-color: rgb(68, 48, 15);
}

.section3 {
  width: 100vw;
  max-width: 100%;
  height: 850px;
  /* position: relative; */
  position: fixed;
  top: calc(550px * 2);
  /* top: 0; */
  display: flex;
  /* overflow: hidden; */
  background-color: #a6ba95;

}
.section4 {
  width: 100vw;
  max-width: 100%;
  height: 320px;
  position: absolute;
  /* position: fixed; */
  top: calc(625px * 3);
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  text-align: center;
  /* font-size: 30px; */
  background-color: #676b89;
  z-index: -500;
}

/* ******* Section 1 Children */
.myName {
  padding-top: 100px;
  font-family: 'Spartan', sans-serif;
  color: #d1a540;
}

.jobTitle {
  font-family: 'Six Caps', sans-serif;
  font-size: 7rem;
  letter-spacing: 2px;
  text-shadow: 3px 3px 7px grey;
}

.bio-pic {
  max-width: 35%!important;
  height: auto!important;
  position: fixed;
  transform: translate(400px, 287px);
}

.tropicalLeaf {
  /* display: inline-flex; */
  position: fixed;
  transform: rotate( 
  26deg) scale(-0.5) scaleX(-1) translate(-285px, -230px);
  opacity: 25%;
}

.shadowTropicalLeaf {
  /* display: inline-flex; */
  position: fixed;
  transform: rotate( 
  26deg) scale(-0.45) scaleX(-1) translate(-145px, -255px);
  opacity: 7%;
}

/* .longLeaf {
  position: fixed;
  transform: rotate( 
  338deg) scale(1) translate(973px, 390px);
  opacity: 50%;
} */
.longLeaf {
  position: fixed;
  transform: rotate( 
  338deg) scale(1) translate(805px, 315px);
  opacity: 25%;
}

.tanLineLol1 {
  transform: scaleX(0.5) rotate(
  90deg);
  right: 40%;
  /* position: absolute; */
}

.tanLineLol2 {
  transform: scaleX(0.5) rotate(
  90deg);
  left: 40%;
  /* position: absolute; */
}

/* ******* Section 2 Children */
.section2_container {
  width: 100%;
  height: 100%;
  display: flex;
}

.aboutMep {
  color: #a6ba95;
  margin: 20% 10%;
  padding-left: 20%;
  font-size: 17px;
}

@keyframes slideFromR2L {
  from {
    transform: translate(470px, 15px);
  }
  to {
    transform: translate(65px, 15px);
  }
}

.bio-pic2 {
  height: 53%;
  transform: translate(65px, 15px);
  position: fixed;
}

.svg_curve_top {
  width: 100%;
  height: 35vh;
  /* position: absolute; */
  position: fixed;
  transform: translateY(-99%);
}

.svg_curve_bottom {
  width: 100%;
  height: 40vh;
  /* position: absolute; */
  position: fixed;
  transform: translateY(200%) rotate( 
  180deg);
  z-index: 5;
}


/* *********** FONTS *
************ */
/* font-family: 'Six Caps', sans-serif; */
/* font-family: 'Spartan', sans-serif; */